
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1542879418-c6c556ff5690?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div class="container banner-content">
    <h1>Chameleon, intelligent project management.</h1>
    <%= link_to "Discover", "#", class: "btn btn-success" %>
  </div>
</div>

<div class="container">
<!-- <h3>The Chameleon app is now online!</h3>

<h2>The time now is <%= Time.now %></h2> -->
  <div class="col-12 card-overall-performance">
    <!-- </div> -->
        <div class="container home-page">
          <div class="home-title">
          <h2> What is chameleon?</h2>
          <h4> Chameleon is a collaborative project management application. </h4>
        </div>

          <div id="home1">
            <div class="home1-text">
              <h2>Main Features </h2>
              <p>Monitoring of activities and hours</p>
              <p>Time reports, activities and messages</p>
              <p>Management of users and their profiles without limitation<p>
            </div>
           <div class="home1-image">
             <%= image_tag "result.png", class: "image-home" %>
           </div>
          </div>

          <div id="home2">
           <div class="home2-image">
             <%= image_tag "search.png", class: "image-home" %>
           </div>
            <div class="home2-text">
              <h2> Little extra </h2>
              <p> All recent browsers such as Chrome, Internet Explorer, Firefox, Safari and Opera can be used. </p>
                <p>Chameleon is developed by a team of specialists.</p>
            </div>
          </div>
            <%= link_to "Join us!", "#", class: "btn btn-success btn-block" %>

        <!-- </div> -->
      </div>
  </div>
</div>

<!-- <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
 -->

