<div class="container">
  <h1>Edit the project</h1>
  <%= simple_form_for(@project) do |f| %>
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <%= f.input :estimated_cost %>
    <%= f.input :estimated_start_date %>
    <%= f.input :estimated_end_date %>
    <%= f.association :assignments, collection: Assignment.where(project_id: params[:id]).map{|assignment| [assignment.name, assignment.id] }, as: :check_boxes %>
    <%= f.association :user, collection: User.all.reject{|user| user == current_user}, as: :check_boxes, :input_html => { :checked => User.all.map{|user| user.assignments.map{|assi| assi.project_id}.flatten.include?(params[:id])} } %>
    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</div>
