<div class="container">
  <h1>Edit the project</h1>
  <%= simple_form_for(@project) do |f| %>
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <%= f.input :estimated_cost %>
    <%= f.input :estimated_start_date %>
    <%= f.input :estimated_end_date %>
    <%= f.association :users_as_billers, collection: User.all.reject { |user| user == current_user }, as: :check_boxes %>

    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</div>
