

<div class="container mt-5 mb-4">


  <div class="row">


    <div class="col-12 card-overall-performance">

      <h2>Welcome  back, <%= current_user.first_name %>!</h2>
      <h6>Here is your team's overall <span style="color: #900C3F">performance</span>:</h6>

      <div class="card-overall-internal">

        <div class="dashboard-overall-chart">

          <h6>Dashboard showing performance per month in terms of money and hours. The data is the following:</h6>

          <% @dashboard_data.each do |month, values| %>

          <p><%= "#{month == "1"? month + " month" : month + " months"} ago: US$ #{values[:value]} billed for #{values[:hours_spent]} hours of the team" %></p>


          <% end %>

        </div>

        <div class="alert-board">
          <h6 class="title-alert-board"><i class="mr-2 fas fa-exclamation-circle"></i>Your <span style="color: #900C3F">alert board</span></h6>

          <% if @alerts.empty? %>

          <div class="alert-card">
            <p>You don't have outstanding alerts. Congratulations!</p>
          </div>

           <%= link_to "See past alerts", "#", class: "btn btn-outline-primary btn-block" %>

          <% else %>

          <% end %>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="container text-center general-header-index-card">



      <h2>Projects currently tracked with <span style="color:#AAEF68">Chameleon</span>:</h2>

</div>



<div class="container project-card-grid">

  <% @projects.each do |project| %>

      <%= link_to project_path(project), class: "index-link"  do %>

      <div class="project-card">
        <h6><%= project.name %></h6>
        <% project.users_as_billers.each do |user| %>

        <%= image_tag "avatar_pics/#{user.first_name}.jpg", class: "avatar"%>

        <% end %>
      </div>



      <% end %>

  <% end %>

</div>
