

<div class="mt-5 mx-5">

<!-- Headers of the nav in the index view -->

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-overall-performance-tab" data-toggle="tab" href="#nav-overall-performance" role="tab" aria-controls="nav-overall-performance" aria-selected="true"><h3><i class="fas fa-chart-line"></i> Overall Performance</h3></a>
      <a class="nav-item nav-link" id="nav-projects-tab" data-toggle="tab" href="#nav-projects" role="tab" aria-controls="nav-projects" aria-selected="false"><h3><i class="fas fa-tasks"></i> Projects</h3></a>
      <a class="nav-item nav-link" id="nav-alerts-tab" data-toggle="tab" href="#nav-alerts" role="tab" aria-controls="nav-alerts" aria-selected="false">
        <div class="d-flex"><h3><i class="mr-2 fas fa-exclamation-circle"></i> Alerts</h3>
          <% unless @outstanding_alerts.empty? %>
            <div class="alert-count ml-2"><%= @outstanding_alerts.count %></div>
          <% end %>
          </div>
      </a>
    </div>
  </nav>

<!-- Contents within the nav in the index view -->



  <div class="tab-content" id="nav-tabContent">

  <!-- Dashboard / Chart -->

    <div class="tab-pane fade show active" id="nav-overall-performance" role="tabpanel" aria-labelledby="nav-overall-performance-tab">
           <!-- Begin of content -->


        <div class="card-overall-internal">

          <div class="dashboard-overall-chart">

            <!-- Dashboard showing performance per month in terms of money and hours -->
            <canvas id="overallPerformance"
            data-value="<%= @dashboard_data[:value].to_json %>"
            data-hours-spent="<%= @dashboard_data[:hours_spent].to_json%>"></canvas>
          </div>

        </div>

     </div>

  <!-- Project cards -->
    <div class="tab-pane fade" id="nav-projects" role="tabpanel" aria-labelledby="nav-projects-tab">

      <div class="general-header-index-card">


            <div id="projects-general-view" class="project-card-grid mb-2" data-array="<%= @array_of_projects %>">

        <% @projects.each do |project| %>
        <%= link_to project_path(project), class: "index-link"  do %>
        <div class="project-card">
          <div  class="mb-3 d-flex justify-content-between border-bottom">
            <h5 class="pb-2"><%= project.name %></h5>
            <span><%= (image_tag "bell.png", size: "20x20") unless project.outstanding_alerts.empty? %></span>
          </div>


          <!-- Budget -->

          <div class="d-flex justify-content-between">
            <p>Budget:</p>
            <p>US$ <%= project.estimated_cost_formatted %></p>
          </div>

          <!-- budget bar -->

           <div id="<%= project.id%>-budget-bar" data-percentage ="<%=  project.executed_budget_percentage%>"></div>
           <p class="text-center"><%= (project.executed_budget_percentage*100).floor %>% spent</p>


           <!-- progress until end date -->

          <div class="d-flex justify-content-between">
            <p>Estimated end date:</p>
            <p><%= project.estimated_end_date.strftime("%d %B %Y") %></p>
          </div>

          <!-- progress until end date bar -->

           <div id="<%= project.id%>-time-bar" data-percentage ="<%=  project.progress_date_percentage%>"></div>
           <p class="text-center"><%= (project.progress_date_percentage*100).floor %>% until end date</p>


           <!-- associates -->
           <p>In this project:</p>

                 <div class="d-flex align-items-center project-card-associate-container">

                    <%= image_tag "avatar_pics/#{current_user.first_name}.jpg", class: "project-card-avatar"%>

                    <% users = project.users_as_billers %>
                    <% users.each do |user| %>

                    <%= image_tag "avatar_pics/#{user.first_name}.jpg", class: "project-card-avatar"%>

                    <% end %>
                  </div>

        </div>
        <% end %>



        <% end %>



        </div>



      </div>

    </div>

    <!-- Alert Board Content -->

    <div class="tab-pane fade" id="nav-alerts" role="tabpanel" aria-labelledby="nav-alerts-tab">

      <div class="card-overall-performance">
            <div class="alert-board">
                <% if @outstanding_alerts.empty? %>

                <div class="alert-card">
                  <p>You don't have outstanding alerts. Congratulations!</p>
                </div>

                <% else %>

                  <% @outstanding_alerts.each do |alert| %>

                  <%= link_to project_path(alert.project), class: "index-link" do %>

                  <div class="alert-card">


                      <div class="d-flex align-items-center">

                        <div class="alert-card-color-tag color-tag-<%= @alert_budget.include?(alert.description) ? "gold" : "purple" %>"></div>
                        <p><%= alert.project.name %>: <%= alert.description %></p>

                      </div>
                  </div>

                  <% end %>

                  <% end %>

                <% end %>
            </div>
        </div>

    </div>

  </div>

</div>
