

<div class="container mt-5 mb-4">


  <div class="row">


    <div class="col-12 card-overall-performance">

      <h2>Welcome  back, <%= current_user.first_name %>!</h2>
      <h5>Here is your team's<span style="color: #900C3F"> overall performance</span>:</h5>

      <div class="card-overall-internal">

        <div class="dashboard-overall-chart">

          <canvas id="myChart"
          data-value="<%= @dashboard_data[:value].to_json %>"
          data-time-spent="<%= @dashboard_data[:value].to_json%>"></canvas>

          <h5>Dashboard showing performance per month in terms of money and hours. The data is the following:</h5>



        </div>

        <div class="alert-board">
          <h5 class="title-alert-board"><i class="mr-2 fas fa-exclamation-circle"></i><span style="color: #900C3F">Outstanding alerts</span></h5>

          <% if @outstanding_alerts.empty? %>

          <div class="alert-card">
            <p>You don't have outstanding alerts. Congratulations!</p>
          </div>

           <%= link_to "See past alerts", "#", class: "btn btn-outline-primary btn-block" %>

          <% else %>

            <% @outstanding_alerts.each do |alert| %>

            <%= link_to project_path(alert.project), class: "index-link" do %>

            <div class="alert-card">
              <div class="d-flex align-items-center">
                  <p><span style="color: #900C3F"><%= alert.project.name %></span> <%= alert.description %></p>

                  <span class="alert-caret"><i class="fas fa-caret-right"></i></span>

              </div>


            </div>

            <% end %>

            <% end %>

          <% end %>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="container text-center general-header-index-card">



      <h2>Projects currently tracked with <span style="color:#AAEF68">Chameleon</span></h2>

</div>



<div class="container project-card-grid mb-5">

  <% @projects.each do |project| %>

      <%= link_to project_path(project), class: "index-link"  do %>

      <div class="project-card">
        <div  class="mb-2 border-bottom d-flex justify-content-between">
          <h5 class="pb-2"><%= project.name %></h5>
          <span><%= (image_tag "bell.png", size: "20x20") unless project.outstanding_alerts.empty? %></span>
        </div>

       <p><i class="fas fa-money-bill mr-2"></i> Budget: US$ <%= project.estimated_cost_formatted %></p>
       <p><i class="fas fa-money-bill mr-2"></i> Part of the budget executed: <%= project.executed_budget_percentage %> % (must be a progression bar)</p>
       <p><i class="fas fa-running mr-2"></i> Progress until end date: <%= project.progress_date_percentage %> % (id) </p>
       <p><i class="fas fa-users mr-2"></i> In this project:</p>

       <%= image_tag "avatar_pics/#{current_user.first_name}.jpg", class: "avatar"%>

        <% project.users_as_billers.each do |user| %>

        <%= image_tag "avatar_pics/#{user.first_name}.jpg", class: "avatar"%>

        <% end %>

      </div>



      <% end %>

  <% end %>

</div>
