

<div class="container mt-5 mb-4">


  <div class="row">


    <div class="col-12 card-overall-performance">

      <h2>Dashboard</h2>
      <p>Your team's<span style="color: #900C3F"> overall performance</span>:</p>

      <div class="card-overall-internal">

        <div class="dashboard-overall-chart">

          <!-- Dashboard showing performance per month in terms of money and hours -->

          <canvas id="overallPerformance"
          data-value="<%= @dashboard_data[:value].to_json %>"
          data-hours-spent="<%= @dashboard_data[:hours_spent].to_json%>"></canvas>



        </div>

        <div class="alert-board">
          <h5 class="title-alert-board"><i class="mr-2 fas fa-exclamation-circle"></i><span style="color: #900C3F">Outstanding alerts</span></h5>

          <% if @outstanding_alerts.empty? %>

          <div class="alert-card">
            <p>You don't have outstanding alerts. Congratulations!</p>
          </div>

           <%= link_to "See past alerts", "#", class: "btn btn-outline-primary btn-block" %>

          <% else %>

            <% @outstanding_alerts.each do |alert| %>

            <%= link_to project_path(alert.project), class: "index-link" do %>

            <div class="alert-card">
              <div class="d-flex align-items-center">
                  <p><span style="color: #900C3F"><%= alert.project.name %></span> <%= alert.description %></p>

                  <span class="alert-caret"><i class="fas fa-caret-right"></i></span>

              </div>


            </div>

            <% end %>

            <% end %>

          <% end %>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="container general-header-index-card">



      <h2>Projects</h2>
      <p>An overview of the projects you are currentl tracking with Chameleon</p>

    <div id="projects-general-view" class="container project-card-grid mb-2" data-array="<%= @array_of_projects %>">





  <% @projects.each do |project| %>

      <%= link_to project_path(project), class: "index-link"  do %>

      <div class="project-card">
        <div  class="mb-3 d-flex justify-content-between border-bottom">
          <h5 class="pb-2"><%= project.name %></h5>
          <span><%= (image_tag "bell.png", size: "20x20") unless project.outstanding_alerts.empty? %></span>
        </div>
            <div class="project-card-infos">

             <p><i class="fas fa-money-bill mr-2"></i> Budget: US$ <%= project.estimated_cost_formatted %></p>
             <!-- progress bars -->

             <p><i class="fas fa-money-bill mr-2"></i> Part of the budget executed: <%= (project.executed_budget_percentage*100).floor %> %</p>
             <div id="<%= project.id%>-budget-bar" data-percentage ="<%=  project.executed_budget_percentage%>"></div>
             <p><i class="fas fa-running mr-2"></i> Progress until end date: <%= (project.progress_date_percentage*100).floor %> % </p>
             <div id="<%= project.id%>-time-bar" data-percentage ="<%=  project.progress_date_percentage%>"></div>

             <!-- end of progress bars -->

             <p><i class="fas fa-users mr-2"></i> In this project:</p>

               <div class="d-flex align-items-center">

                <%= image_tag "avatar_pics/#{current_user.first_name}.jpg", class: "avatar mr-2"%>

                <% users = project.users_as_billers %>
                <% users.first(7).each do |user| %>

                <%= image_tag "avatar_pics/#{user.first_name}.jpg", class: "avatar mr-2"%>

               <% end %>

               <% if users.count > 7 %>

               <i class="fas fa-plus m-0" style="font-size:20px"></i>

               <% end %>



                </div>
              </div>
      </div>
      <% end %>



  <% end %>



</div>


</div>






