
<h2 class="px-5 pt-5"><%= @project.name %></h2>
 <p class="px-5 mb-0">Started on <span style="color: "><strong><%= @project.estimated_start_date.strftime("%d %B %Y") %></strong></span></p>
 <p class="px-5">Expected to end on <strong><%= @project.estimated_end_date.strftime("%d %B %Y") %></strong></p>


 <!-- General info card at the top of the page -->
 <!-- General info card at the top of the page -->
 <!-- General info card at the top of the page -->
 <!-- General info card at the top of the page -->

<div class="card-project-general-info">

    <%= link_to edit_project_path(@project) do %>
      <%= image_tag 'edit.png' %>
    <% end %>

    <p class="card-project-general-description"><%= @project.description %></p>


    <!-- key info grid -->
    <!-- key info grid -->
    <!-- key info grid -->
    <!-- key info grid -->
    <!-- key info grid -->
    <!-- key info grid -->


    <div class="key-info-grid">

      <!-- Budget -->

      <div class="key-info-element">
        <p class="key-info-title">Budget <br>(USD)</p>
        <p class="key-info-specs"><%= @project.estimated_cost_formatted %></p>
      </div>

      <div class="key-info-element">
          <p class="key-info-title">Spent<br>(USD)</p>
          <p class="key-info-specs"><%= @project.executed_cost_formatted %></p>
      </div>

      <div class="key-info-element">
          <p class="key-info-title">Percentage spent</p>
          <p class="key-info-specs"><%= (@project.executed_budget_percentage * 100).to_i %>%</p>
      </div>

      <div class="key-info-element">
        <p class="key-info-title">Hours<br>spent</p>
        <p class="key-info-specs"><%= @project.hours_spent_formatted %></p>
      </div>

       <div class="key-info-element">
        <p class="key-info-title">Cost/hour<br>AVG.(USD)</p>
        <p class="key-info-specs"><%= @project.cost_per_hour %></p>
      </div>

      <div class="key-info-element">
        <p class="key-info-title">hours left<br>(Avg.)</p>
        <p class="key-info-specs"><%= (@project.estimated_cost - @project.tasks.sum(:value)) / @project.cost_per_hour unless @project.cost_per_hour.zero? %></p>
      </div>


    </div>

</div>


<!-- Tabs Horizontal -->

<nav>
    <div class="nav nav-tabs d-flex justify-content-around" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-budgetevolution-tab" data-toggle="tab" href="#nav-budgetevolution" role="tab" aria-controls="nav-budgetevolution" aria-selected="true"><h3><i class="fas fa-chart-line"></i> Budget Evolution</h3></a>
      <a class="nav-item nav-link" id="nav-budgetdistribution-tab" data-toggle="tab" href="#nav-budgetdistribution" role="tab" aria-controls="nav-budgetdistribution" aria-selected="false"><h3><i class="fas fa-chart-pie"></i> Budget distribution</h3></a>
      <a class="nav-item nav-link" id="nav-associates-tab" data-toggle="tab" href="#nav-associates" role="tab" aria-controls="nav-associates" aria-selected="false"><h3><i class="fas fa-users"></i>Associates</h3></a>
      <a class="nav-item nav-link" id="nav-tasks-tab" data-toggle="tab" href="#nav-tasks" role="tab" aria-controls="nav-tasks" aria-selected="false"><h3><i class="fas fa-stream"></i> Tasks</h3></a>
    </div>
  </nav>


  <!-- Tabs content  -->


<div class="tab-content" id="nav-tabContent">


  <!-- Budget evolution -->

  <div class="tab-pane fade show active" id="nav-budgetevolution" role="tabpanel" aria-labelledby="nav-budgetevolution-tab">

    <div class="card-project-dashboard">

            <p>Time effectively spent vs. time according to milestone projection</p>

            <div class="card-project-dashboard-divider">

            <canvas
              id="individualProjectChart"
              data-actual-values = "<%= @cummulative_value.to_json %>"
              data-milestone-values = "<%=  @milestone_values.to_json %>">
            </canvas>

            </div>
      </div>

  </div>



  <!-- Budget distribution -->

  <div class="tab-pane fade show" id="nav-budgetdistribution" role="tabpanel" aria-labelledby="nav-budgetdistribution-tab">

        <div class="card-project-dashboard">
            <p class="mb-5">Portion of the budget unnassigned: <%= @project.unassigned_progress_rate %>%</p>
            <!-- Here is the pie chart -->
            <canvas height="100" id="milestone-pie-chart" data-milestone-progress-rates="<%= @milestone_progress_rates.to_json %>"></canvas>
            <!-- Here ends the chart -->
        </div>

        <div class="card-project-dashboard">
            <div class="milestone-manager">
              <!-- Show milestones that cannot be updated -->
              <div class=" mt-3">
                <% unless @finished_milestones.empty? %>
                <h3>You can only edit milestones that have not been completed</h3>
                <p class="mb-1">The following milestones have already been completed:</p>

                <ul>
                  <% @finished_milestones.sort_by(&:end_date).each do |milestone| %>
                    <li><%= milestone.description %> (completed on <%= milestone.end_date.strftime("%d %B %Y") %>) - <%= milestone.progress_rate %> %</li>
                    <% end %>
                </ul>
              </div>
                <% end %>

                <!-- Edit unfinished milestones -->

                <% unless @unfinished_milestones.empty?  %>
                  <h3 class="mb-4"><i class="far fa-edit"></i> Edit milestones</h3>
                  <% @unfinished_milestones.sort_by(&:end_date).each do |milestone| %>
                  <div class="project-task-log-milestone-wrapper">
                    <div class="d-flex align-items-baseline">
                      <h3><%= milestone.description %></h3><p class="ml-2">(Edit)</p>
                    </div>
                    <p class="mb-0"><%="Estimated to end on #{milestone.end_date.strftime("%d %B %Y")}" %></p>
                    <p><%= "Weight of the budget: #{(milestone.progress_rate * @project.estimated_cost / 100).to_i.to_s.reverse.scan(/\d{3}|.+/).join(".").reverse} (#{milestone.progress_rate} %)" %></p>
                      <%= simple_form_for [@project, milestone] do|f| %>
                          <%= f.input :description  %>
                          <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
                          <%= f.input :progress_rate, collection: (0..(milestone.progress_rate + @project.unassigned_progress_rate)).to_a %>
                          <%= f.button :submit, class: "btn btn-primary" %>
                        <% end %>
                  </div>
                  <% end %>
                  <% end %>
                  <!-- Add new milestone -->
                  <% if  @project.unassigned_progress_rate.zero? %>
                  <div class="project-task-log-milestone-wrapper mt-3">
                    <h3>Create a <span style="color: #900C3F">new milestone</span></h3>
                    <p class="mb-1">You cannot add new Milestones because all budget has already been assigned.</p>
                    <p class="mb-1">Edit the unfinished milestones above.</p>
                  </div>
                  <% else %>
                  <div class="project-task-log-milestone-wrapper">
                    <h3>Create a <span style="color: #900C3F">new milestone</span></h3>
                    <%= simple_form_for [@project, @new_milestone] do|f| %>
                      <%= f.input :description  %>
                      <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
                      <%= f.input :progress_rate, collection: (0..@project.unassigned_progress_rate).to_a %>
                      <%= f.button :submit, class: "btn btn-primary" %>
                    <% end %>
                  </div>
                  <% end %>
                </div>
              </div>


  </div>


  <!-- Associates -->


  <div class="tab-pane fade show" id="nav-associates" role="tabpanel" aria-labelledby="nav-associates-tab">

    <div class="card-project-dashboard">
            <h3>Currently in the project</h3>
              <div class="grid-project-associate-cards">
                  <% @project.array_users_hours.each do |data| %>
                    <div class="card-project-user-performance">
                      <div class="d-flex align-items-center mb-3">
                        <%= image_tag "avatar_pics/#{data[:user].first_name}.jpg", class: "avatar mr-2"%>
                        <% if User.senior_associates.include?(data[:user])  %>
                            <strong><span style="color: #900C3F"><p><%= "#{data[:user].first_name} #{data[:user].last_name}" %> (Senior Associate) (US$ <%= data[:user].hourly_rate %> / hour) </p></span></strong>
                        <% else %>
                            <strong><p><%= "#{data[:user].first_name} #{data[:user].last_name}" %> (US$ <%= data[:user].hourly_rate %> / hour)</p></strong>
                        <% end %>
                      </div>
                      <p>Has billed <span style="color: #900C3F">US$ <%= data[:value].to_s.reverse.scan(/\d{3}|.+/).join(".").reverse %></span> and spent <span style="color: #900C3F"><%= data[:hours_spent] %> hours</span> in this project</p>
                    </div>
                    <% end %>
              </div>
                <% unless @old_associates.empty? %>


                <h3>No longer in this project</h3>
                <div class="grid-project-associate-cards">
                <% @old_associates.each do |data| %>
                      <div class="card-project-user-performance">
                        <div class="d-flex align-items-center mb-3">
                          <%= image_tag "avatar_pics/#{data[:user].first_name}.jpg", class: "avatar mr-2"%>
                          <% if User.senior_associates.include?(data[:user])  %>
                              <strong><span style="color: #900C3F"><p><%= "#{data[:user].first_name} #{data[:user].last_name}" %> (Senior Associate) (US$ <%= data[:user].hourly_rate %> / hour) </p></span></strong>
                          <% else %>
                              <strong><p><%= "#{data[:user].first_name} #{data[:user].last_name}" %> (US$ <%= data[:user].hourly_rate %> / hour)</p></strong>
                          <% end %>
                        </div>
                        <p>Billed <span style="color: #900C3F">US$ <%= data[:value].to_s.reverse.scan(/\d{3}|.+/).join(".").reverse %></span> and spent <span style="color: #900C3F"><%= data[:hours_spent] %> hours</span> in this project</p>
                      </div>
                        <% end %>
                </div>
                    <% end %>
          </div>

  </div>

  <!-- Task log -->


  <div class="tab-pane fade show" id="nav-tasks" role="tabpanel" aria-labelledby="nav-tasks-tab">

    <div class="card-project-dashboard task-log">
            <% @project.milestones.sort_by { |milestone| milestone.end_date}.each do |milestone| %>
            <div class="project-task-log-milestone-wrapper">
              <h3><%= milestone.description %></h3>
              <p><%= milestone.done ? "Ended on #{milestone.end_date.strftime("%d %B %Y")}" : "Estimated to end on #{milestone.end_date.strftime("%d %B %Y")}" %></p>
              <% if  milestone.tasks.empty?%>
                <strong><p>No tasks have been logged toward the completion of this milestone.</p></strong>
              <% else %>
                <p class="mb-2 border-bottom border-success">Tasks logged associated with this milestone:</p>
                <div class="project-card-task-log">
                  <% milestone.tasks.sort_by {|task| task.date } .reverse.each do |task| %>
                    <p>On <%= task.date.strftime("%d %B %Y") %>, <%= task.user.username %> spent <%= task.hours_spent %> hours on <%= task.description.downcase %> and billed US$ <%= task.value %></p>
                  <% end %>
                </div>
              <% end %>
            </div>
            <% end %>
      </div>

  </div>



</div>

